<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Aluno</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{url_for('static', filename='css/base.css')}}" rel="stylesheet">

</head>
<body>
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <span class="mdc-top-app-bar__title">Cadastro de Alunos</span>
          </section>
        </div>
    </header>
    <div class="container_single mdc-top-app-bar--fixed-adjust">
        <h1>Atualizar Aluno</h1>
        <form  action="/edit/{{student.ra}}" method="POST">
            <input hidden name="ra" value="{{student.ra}}" />
            <label class="mdc-text-field mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="nome-label">Nome</span>
                <input class="mdc-text-field__input" type="text" aria-labelledby="nome-label" id="usr" name="nome" value="{{student.nomeAluno}}" required>
                <span class="mdc-line-ripple"></span>
            </label>
            <label class="mdc-text-field mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="email-label">Email</span>
                <input class="mdc-text-field__input" type="email" aria-labelledby="email-label" id="mail" name="email" value="{{student.emailAluno}}" required>
                <span class="mdc-line-ripple"></span>
            </label>
            <label class="mdc-text-field mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="cep-label">CEP</span>
                <input class="mdc-text-field__input" type="text" aria-labelledby="cep-label" id="cep" name="cep" value="{{student.cep}}" required>
                <span class="mdc-line-ripple"></span>
            </label>

            <label class="mdc-text-field mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="address-label">Endereço</span>
                <input class="mdc-text-field__input" type="text" aria-labelledby="address-label" id="endereco" name="logradouro" value="{{student.logradouro}}" required>
                <span class="mdc-line-ripple"></span>
            </label>

            <div class="horizontal-flex">

                <label class="mdc-text-field mdc-text-field--filled">
                    <span class="mdc-text-field__ripple"></span>
                    <span class="mdc-floating-label" id="num-label">Número</span>
                    <input class="mdc-text-field__input" type="number" aria-labelledby="num-label" id="num" name="numero" value="{{student.numero}}" required>
                    <span class="mdc-line-ripple"></span>
                </label>
    
    
                <label class="mdc-text-field mdc-text-field--filled">
                    <span class="mdc-text-field__ripple"></span>
                    <span class="mdc-floating-label" id="comple-label">Complemento</span>
                    <input class="mdc-text-field__input" type="text" aria-labelledby="comple-label" id="complemento" value="{{student.complemento}}" name="complemento">
                    <span class="mdc-line-ripple"></span>
                </label>

            </div>

            

        <button class="mdc-button mdc-button--raised submit-button" type="submit">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Atualizar</span>
        </button>
        </form>
    </div>
    
    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
          <div class="mdc-snackbar__label" aria-atomic="false">
            Houve um problema ao recuperar seu endereço pelo CEP. Por favor, verifique-o ou digite seu endereço manualmente.
          </div>
          <div class="mdc-snackbar__actions" aria-atomic="true">
            <button type="button" class="mdc-button mdc-snackbar__action">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">OK</span>
            </button>
          </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/form_controller.js')}}"></script>
    </script>
</body>
</html>